# no hidden files
.*

# no configs, docs, logs, or typescript
*.config.js
*.config.mjs
*.json
*.log
*.md
*.ts
*.cts
*.mts
*.txt
*.yml
yarn.lock
package-lock.json

# ignore all directories by default
*/

# This is rebuilt by scripts/configure.js:
config.gypi

# include scripts directory (for configure.cjs)
!scripts/
!scripts/*js

# include dist .cjs, .mjs, .js, and types
!dist/**/*js
!dist/**/*js.map
!dist/**/*.d.ts

# include native code for rebuilds
!src/**/*.cpp
!src/**/*.h

# include prebuilds
!prebuilds/**