# no hidden files
.*

# no configs, docs, logs, or test typescript
*.config.js
*.config.mjs
*.json
*.log
*.txt
*.yml
yarn.lock
package-lock.json
docs/
*.test.ts
**/test*

# build/ contains the ingredients for prebuilds/ -- we don't need it.
build/

# This is rebuilt by scripts/configure.js:
config.gypi

# include scripts directory (for configure.cjs)
!scripts/
!scripts/*js

# include dist .cjs, .mjs, .js, and types
!dist/**/*js
!dist/**/*js.map
!dist/**/*.d.ts

# include native code for rebuilds
!src/**/*.cpp
!src/**/*.h

# include prebuilds
!prebuilds/**